* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

input, button, textarea, select {
  font: inherit; }

body {
  background-color: #eee;
  min-height: 100dvh; }

img, svg {
  height: auto;
  max-width: 100%; }

body a {
  text-decoration: none;
  cursor: crosshair; }

.links li {
  display: inline;
  text-transform: uppercase;
  font-family: "Noto Sans Mono"; }

.links a {
  color: #eee;
  font-size: .875rem;
  margin: 0px 10px;
  position: relative;
  padding: 5px; }

.links a:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: rgba(172, 161, 139, 0.75);
  mix-blend-mode: hue;
  transition: transform .3s ease;
  transform: scaleX(0);
  transform-origin: bottom right; }

.links a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left; }

/* CUERPO */
section.fullwdw {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 300px; }

.fullwdw:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 200px; }

.fullwdw:nth-child(3) {
  padding-top: 0px; }

header {
  background-color: rgba(11, 11, 11, 0.3);
  padding: 0px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-bottom: 1px solid #1d1d1d; }

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.title {
  font-family: "Abril Fatface";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.75rem;
  color: #1d1d1d;
  white-space: nowrap; }

body#pindex {
  background-image: url(../assets/playabackgr.jpg), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed; }

body#backpags {
  background-image: url(../assets/playabckpages.jpg), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed; }

section#contacto {
  flex-direction: row; }

section#contacto article {
  width: 80%; }

section#contacto article div {
  display: flex;
  flex-direction: row;
  gap: 20px; }

section#contacto img {
  width: 40%; }

contactinfo {
  text-transform: initial;
  font-size: .875rem;
  text-align: justify;
  color: #eee;
  padding-right: .9375rem;
  font-family: "Noto Sans"; }

main h1 {
  font-family: "Abril Fatface";
  color: #eee;
  text-shadow: -1px -1px 0 #1d1d1d, 1px -1px 0 #1d1d1d, -1px 1px 0 #1d1d1d, 1px 1px 0 #1d1d1d;
  text-align: justify;
  font-size: 3.125rem;
  font-weight: 400; }

.moreinfo {
  background-color: #eee;
  border: 2px solid rgba(172, 161, 139, 0.75);
  font-family: "Noto Sans Mono";
  text-transform: uppercase;
  font-size: .75rem;
  padding: 5px 10px;
  width: 200px; }

button:hover {
  background-color: rgba(172, 161, 139, 0.75);
  cursor: pointer; }

#sliders {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 100px 0; }

#sliders article:first-child {
  font-family: "Noto Sans";
  width: 80%;
  text-align: justify;
  background: rgba(11, 11, 11, 0.3);
  color: #eee;
  padding: 30px; }

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .9375rem;
  align-items: center;
  justify-items: center; }

#sliders img {
  width: 100%;
  border: 2px solid rgba(172, 161, 139, 0.75);
  height: 100%; }

section i {
  font-size: 30px;
  margin: 0px 20px;
  color: #eee;
  vertical-align: super; }

article.malibu,
article.hawaii {
  width: 350px;
  display: inline-block;
  border: 1px solid #1d1d1d;
  margin: 0px 30px;
  height: 500px;
  background-size: cover; }

article.malibu {
  background-image: url("../assets/malibu.jpg"); }

article.hawaii {
  background-image: url("../assets/hawaii.jpg"); }

main h2 {
  font-family: "Abril Fatface";
  font-size: 40px;
  margin: 0px 40px 20px 40px;
  color: #1d1d1d; }

article div {
  background: rgba(0, 0, 0, 0.2);
  font-family: "Noto Sans Mono";
  text-transform: uppercase;
  color: #eee;
  padding: 5px;
  width: fit-content;
  font-size: 0.75rem;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px); }

#backpags section.fullwdw {
  margin-top: 200px;
  padding-bottom: 200px; }

#backpags section.fullwdw section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px 10px; }

.contactinfo {
  color: #eee;
  font-family: "Noto Sans";
  text-transform: inherit;
  width: 50%;
  text-align: justify;
  padding: 1.875rem;
  margin: auto;
  font-size: .875rem;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px); }

form {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 10px; }

form label {
  text-transform: uppercase;
  font-family: "Noto Sans Mono";
  color: rgba(172, 161, 139, 0.75);
  text-shadow: 1px 1px 0px #000; }

form input {
  font-family: "Noto Sans";
  background: rgba(172, 161, 139, 0.75);
  border: 1px solid #1d1d1d; }

.paquete {
  width: 50%;
  padding: 30px;
  color: #eee;
  text-align: justify;
  font-family: "Noto Sans";
  text-transform: inherit;
  margin: 0 auto;
  border: 1px solid #1d1d1d;
  font-size: 1rem; }

.paquete > titulo {
  text-align: center;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Abril Fatface";
  letter-spacing: 1px;
  color: rgba(172, 161, 139, 0.75);
  text-shadow: 1px 1px 0px #000; }

section#nosotros article {
  display: flex;
  flex-direction: row;
  gap: 20px; }

section#nosotros article img {
  width: 50%; }

section#nosotros article nosotrosinfo {
  background: rgba(11, 11, 11, 0.3);
  color: #eee;
  text-align: justify;
  padding: 10px;
  width: 50%;
  font-family: "Noto Sans";
  font-size: 1rem;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px); }

footer {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  background-color: rgba(11, 11, 11, 0.3);
  padding: 0px 20px;
  width: 100%;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-top: 1px solid #1d1d1d;
  color: #eee;
  position: fixed;
  bottom: 0; }

footer section {
  display: flex; }

footer article {
  display: inline-block;
  font-family: "Abril Fatface";
  font-weight: 600;
  text-align: justify;
  width: 33%;
  margin: 20px 50px; }

footer li {
  display: block;
  font-family: "Noto Sans";
  font-size: .875rem;
  color: #eee; }

footer ul {
  padding: 0px; }

@media (max-width: 320px) {
  header {
    max-width: 320px; } }

@media (max-width: 375px) {
  header {
    max-width: 375px; } }

@media (max-width: 425px) {
  header {
    max-width: 425px; } }

@media (max-width: 768px) {
  header {
    max-width: 768px; } }

@media (max-width: 1024px) {
  header {
    max-width: 1024px; } }

@media (max-width: 1440px) {
  header {
    max-width: 1440px; } }

@media (max-width: 1024px) {
  header {
    flex-direction: column !important; }
  .title {
    font-size: 1.75rem !important;
    -webkit-text-stroke: 1px #eee !important; }
  .links a {
    font-size: .75rem !important;
    margin: 0px !important; }
  .fullwdw:nth-child(2) {
    padding: 70px 10px 10px 10px !important;
    align-items: center !important;
    justify-content: center !important; }
  main h1 {
    font-size: 1.5rem !important;
    width: 100% !important; }
  #sliders {
    display: flex !important;
    flex-direction: column !important;
    padding-top: 50px !important; }
  #sliders article:first-child {
    font-size: 0.75rem !important;
    width: 90% !important;
    padding: 15px !important; }
  .gridcontainer {
    display: none !important; } }
